<header id="tete">
    <h1 class="titre1"> <span class="spa">S</span> <span class="cla1">ender</span> 
    </h1>
    <div  class="slog"> <span class="sap1">Ven</span> <span class="sap1">der </span> <span class="sap1"> et </span> 
        <span class="sap1"> ache</span> <span class="sap1">ter </span> <span class="sap1"> en </span> <span class="sap1"> un </span> 
        <span class="sap1"> cli</span><span class="sap1">que</span> </div>
    <a id="img" href="#connecter">    
        <img [src]="iconConnect" alt="connection">
    </a>
</header>