<div *ngFor="let poste of postes ">
    <h2 class="fs-4" >
        {{poste.title_poste}}    
        <div class="para">
            {{heure | date:'short'}}
        </div>         
    </h2>
    <p *ngIf= "poste.description" class="des">
        {{poste.description}}
    </p>
    <button (click)="love()" class=b1> Love it</button>
    <button (click)="lovent()" class=2> Don't love</button>
    <button routerLink = "profile"></button>
    <div *ngFor =" let publi of publis">
        <p> </p>
    </div>
</div>